/*Fontes: */
@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500; 700&display-swa");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/*Variavel global*/
:root {
  --background-color: #f1f6f9;
  --primary-color: #394867;
  --secundary-color: #212a3e;
  --aux-color: #9ba4b5;
  --main-font: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 5rem 12rem;
  padding: 0rem;
  border-bottom: 0.5rem solid var(--secundary-color);
  border-top: 0.5rem solid var(--secundary-color);
}

.headerLeft_side {
  display: flex;
}

.headerRight_side {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0rem;
}

.name {
  font-family: "Permanent Marker", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3.4rem;
  color: var(--secundary-color);
  padding-top: 1.6rem;
}

.img {
  filter: grayscale(80%);
  width: 11.25rem;
  height: 13.438rem;
}

.job {
  padding-left: 1rem;
  color: var(--aux-color);
}

/* MAIN */

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: 1;
  margin: 5rem 12rem;
}

.titlebox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 1rem;
}

.txtTitle {
  color: var(--secundary-color);
}

.subtxtTitle {
  color: var(--aux-color);
}

.leftIcon {
  margin-left: 0.8rem;
  padding-top: 0.36rem;
}

.flexbox {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.txt {
  padding: 2rem 3rem 2rem 4rem;
  text-align: justify;
}

.linkTxt {
  color: var(--secundary-color);
}

a:visited {
  color: var(--aux-color);
}

/* DESCRIPTION */

.description_box {
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.description {
  color: var(--primary-color);
  font-size: 1.6rem;
  text-align: justify;
  padding-right: 3rem;
  line-height: 2.6rem;
}

/* RIGHT DIVISION */

.separationRight_side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 4rem;
}

/* ICON */

.icon {
  padding-top: 0.26rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.iconbox {
  color: var(--secundary-color);
}

/* ICON RIGHT SIDE*/

.icon_text {
  padding-top: 0.2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  color: var(--secundary-color);
}

.icontxt {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* LEFT SIDE */

.leftbox {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.left_side {
  display: flex;
  flex-direction: column;
  padding-top: 1.86rem;
  gap: 4rem;
}

.leftsidebox {
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.titleLeftSide {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.borderbotton {
  border-bottom: 0.5rem solid var(--secundary-color);
  margin-right: 48rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

/* RIGHT SIDE */

.right_side {
  display: flex;
  flex-direction: row;
  gap: 0rem;
}

.rightSideText {
  padding-top: 0.3rem;
  color: var(--primary-color);
  font-size: 1.2rem;
}
.columnR {
  border-top: 0.5rem solid var(--secundary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
}

.txtCode {
  text-align: center;
  color: var(--aux-color);
  border: 0.2rem solid var(--aux-color);
  margin: 0rem 6rem;
  border-radius: 0.6rem;
  padding: 0.4rem;
}

.spaceLang {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-left: 1rem;
}

/* FOOTER */

.footerDesc {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0rem 12rem 2rem 12rem;
  padding-top: 2rem;
  border-top: 0.5rem solid var(--secundary-color);
}

.footerTxt {
  text-align: center;
}

/*Pixels dos dispositivos:
1728px: desktop;
1024px: tablet;
428: celular;
*/

@media (max-width: 1300px) {
  .header {
    margin: 1rem 2rem;
  }

  .headerRight_side {
    padding: 1rem;
  }

  .description {
    padding: 0rem;
  }

  .description_box {
    margin-right: 0rem;
  }

  .gridContainer {
    margin: 2rem;
    display: flex;
    flex-direction: column;
  }

  .borderbotton {
    margin-right: 38rem;
  }

  .separationRight_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 0.5rem solid var(--secundary-color);
    padding-top: 2rem;
    margin-right: 0rem;
  }
  .mobileBotton {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .icon {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .iconup {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }

  .iconbot {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }

  .columnR {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
  }

  .codeItemsUp {
    display: flex;
  }

  .txtCode {
    margin: 1rem 1rem;
  }

  .footerDesc {
    margin: 2rem;
  }
}

@media (max-width: 428) {
}
